/****** Script for SelectTopNRows command from SSMS  ******/
/*Artikel aussuchen*/
with
cte as
(
SELECT  [DateValue]
      ,[EAN]
      ,[Location Code]
      ,[InStock]
      ,[InSales]
      ,[InTransfer]
      ,[Consolidated]
      ,[InPurchase]
      ,[NavKlasse]
      ,[shop]
	  ,Rank() 
  over (Partition by [EAN]
		order by [DateValue] desc) as Rankordnung
    
  FROM [BI_Data].[dbo].[ItemLedgerEntryAggr]
  where [Location Code]='FIEGE'
  and [EAN] collate Latin1_General_100_CS_AS in(SELECT 
 [No_] as EAN
  FROM [Urban_NAV600_SL].[dbo].[Urban-Brand GmbH$Item]
  where [Vendor No_]='71265'
  and [No_] not like '%-%')
  and [InStock]-[InSales]-[InTransfer]<0
  )
  Select 
  cte.[DateValue]
  ,cte.[EAN]
  ,cte.[InStock]
  ,cte.[InSales]
  ,cte.[InTransfer]
  ,cte.[InPurchase]
  ,cte.[NavKlasse]
  ,cte.[shop]
  from cte
  where cte.Rankordnung=1
  order by cte.DateValue desc

/*Aufträge aussuchen*/
Select 
cast(sh.[Posting Date] as date) as Buchungsdatum
,sh.[No_]
,sh.[External Document No_]
,case when sh.[Status]='0' then 'Offen' end as Status
FROM [Urban_NAV600_SL].[dbo].[Urban-Brand GmbH$Sales Header] sh
join [Urban_NAV600_SL].[dbo].[Urban-Brand GmbH$Sales Line] sl
	on sh.[No_]=sl.[Document No_]
	where sl.[No_] in ('7040351001076', '7040351001069', '7040351001243', '7040351001052', '7040352928006', '7040351005012', '7040352393019', '7040353291017', '7040353291024', '7040351003223', '7040351593069', '7040353497020', '7040351001236', '7040351755054', '7040353315010', '7040353501048', '7040351001038', '7040353497013', '7040353498010', '7040353499048', '7040352393033', '7040351778091', '7040353288024', '7040353315089', '7040351914000', '7040351001137', '7040351593052', '7040351770118', '7040351593021', '7040351752039', '7040351578004', '7040351521000', '7040351593090', '7040352823127', '7040351867085', '7040353294001', '7040351771115', '7040353500010', '7040352798012', '7040351752169', '7040351771054', '7040351771092', '7040351771122', '7040351777087', '7040352553062', '7040351770125', '7040353288031', '7040351752053', '7040351755115', '7040353288079', '7040352812114', '7040351001014', '7040351003247', '7040351003018', '7040351866019', '7040351593151', '7040351001250', '7040351003254', '7040351001021', '7040351593175', '7040351755030', '7040351593014', '7040351003032', '7040351003216', '7040351003230', '7040351593038', '7040351752138', '7040352829075', '7040353810010', '7040352553123', '7040351771160', '7040351773119', '7040352393064', '7040351771177', '7040351752114', '7040351752152', '7040351626002', '7040354096017', '7040352553079', '7040352393057', '7040351752121', '7040351755092', '7040351755122', '7040351755160', '7040351829038', '7040351829151', '7040352812046', '7040351770019', '7040351771016', '7040353648040', '7040351755153', '7040352553093', '7040353288017', '7040353447162', '7040352747003', '7040353648033', '7040351774000', '7040351776110', '7040353315041', '7040351773133', '7040351770170', '7040352553130', '7040352799026', '7040352812053', '7040352215021', '7040352215052', '7040352215083', '7040352286014', '7040353573021', '7040352930092', '7040352930139', '7040353315058', '7040353445038', '7040352930122', '7040351776103', '7040351777070', '7040351778084', '7040351755047', '7040352205015', '7040352215045', '7040351755016', '7040351003162', '7040353315034', '7040352930115', '7040352813159', '7040353447049', '7040353447117', '7040352215038', '7040352215069', '7040351773010', '7040351773034', '7040351773041', '7040351778039', '7040351778053', '7040351829106', '7040351003209', '5710340200057', '7040351777056', '7040351776066', '7040351867054', '7040351867061', '7040351867078', '7040352813166', '7040352823073', '7040352829051', '7040351770040', '7040351770095', '7040351001168', '7040351001199', '7040353501031', '7040353445090', '7040353288048', '7040352930016', '7040352930047', '704035321500', '7040351773096', '7040351773058', '7040351773164', '7040351770033', '7040352823011', '7040351778077', '7040351770132', '7040351773126', '7040353696003', '7040351776073', '7040351773157', '7040352393040', '7040353315065', '7040351593168', '7040352829013', '7040351829137', '7040352813135', '7040352393026', '7040351003155', '7040351593045', '7040351593120', '7040351593137', '7040351770156', '7040352526011', '7040352812152', '7040353447155', '70405352393033', '7040351593076', '7040352553086', '7040352823080', '7040352823097', '7040352832082', '7040352832099', '7040351867047', '7040351771047', '7040351770163', '7040351003179', '7040353501024', '7040353499017', '7040353499024', '70405352393019', '70405352393026', '7040351593144', '7040351003186', '7040351003124', '7040351001113', '7040351001175', '7040351001229', '7040351771153', '7040352812169', '7040352813128', '7040352823134', '7040352541014', '7040353445014', '7040351777049', '7040352800005')
	and sh.[Status]='0'
	group by cast(sh.[Posting Date] as date) 
,sh.[No_]
,sh.[External Document No_],sh.Status